@media only screen and (min-width:200px) and (max-width:575px){
    /* for header section */
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }
    .headerLeft{
        justify-content: center;
    }
    .logo{
        padding: 10px;
    }
    .headerAddress{
        padding: 10px;
    }
    .headerAddress p{
        font-size: 12px;
    }
    .headerAddress h3{
        font-size: 15px;
    }
    
    /* for search box and button */
    .searchBox button{
        padding: 10px;
    }

    .headerBtn{
        position: fixed;
        width: 100%;
        background-color: white;
        margin-right: 0px;
        justify-content: center;
        bottom: 0px;
    }

    /* for banner section Paan banner */
    .bannerSection{
        display: none;
    }

    .orderBanner{
        padding: 10px;
        flex-direction: column;
    }

    .categoryItems{
        flex-basis: 25%;
    }

    .productSection{
        padding: 30px 10px;
    }

    /* .productRow{
        padding: 0px 10px;
    } */

    .productItems{
        flex-basis: 49%;
        /* margin-bottom: 5px;
        gap: 2%; */
    }

    .footer{
        padding-top: 0px;
    }

   .footer-mid-row1{
    padding: 10px;
    flex-direction: column;
   }
   
   .CategoriesLinks ul li{
    flex-basis: 48%;
    list-style: none; 
    }

    .footer-mid-row3{
        padding: 0px 10px;
    }

    .footer-mid-row2{
        flex-direction: column;
        gap: 20px;
    }
}  